---
const { title, description, twitter,  instagram, github} = Astro.props;
---

<footer id="buy" class="panel">
  <div class="inner split">
    <div>

      <section>
        <h3>I'm currently accepting offers on a small collection of items via tezos eco-friendly NFTs at objkt.com<a href="" target="_blank" class="fas fa-external-link-alt" /></h3>


      </section>

    </div>

  </div>
</footer>
