---
const { title, description, twitter,  instagram, github} = Astro.props;
---

<footer id="contact" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>Find me on ...</h2>
        <ul class="icons">
          <li><a href="https://twitter.com/stellaeprop" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.instagram.com/stellaeprop/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="https://github.com/woguls" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="https://discordapp.com/users/1029178471043301417" class="icon brands fa-discord"><span class="label">GitHub</span></a></li>
        </ul>
      </section>

    </div>
    <div>
      <section>
        <h2>Get in touch... (coming soon)</h2>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="field half">
              <input type="text" name="email" id="email" placeholder="Email" />
            </div>
            <div class="field">
              <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </form>
      </section>
    </div>
  </div>
</footer>
